h1 {
  font-size: 2em;
  margin-bottom: 0;
}
h2 {
  font-size: 3em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 20px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: palevioletred;
  border-radius: 4px;
  margin-right: 60px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: palevioletred;
  background-color: #424242;
}
nav a.active {
  color: palevioletred
}
div{
  margin: 80px;
}
